.wbdv-editor-module-list{
    padding-bottom: 100%;
}

.wbdv-editor-list-item{
    margin: 5px;
    background: #41474A;
    color: white;
}

.wbdv-editor-topic{
    margin: 5px;
}

.nav-pills .nav-link:not(.active) {
    background-color: #6B6B6B;
    color: white;
    font-weight: bold;
}

.nav-pills .nav-link {
    background-color: #41474A;
    color: white;
    font-weight: bold;
}

